@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Учёт продаж кофеен онлайн</h1>
    <p><a href="https://vk.com/fyodorlikhachev" class="btn btn-primary btn-lg">Узнать больше &raquo;</a></p>
</div>
